{% extends 'app/layout.html' %}

{% block title %}
Categories
{% endblock %}

{% block content %}
<main class="main px-md-5">
    <div class="mt-4 mb-4">
        <h2 class="fs-5 mb-4">Expense Categories</h2>
        <div class="categories d-flex gap-4">
            {% for category in defaultExpenseCategories %}
            <div>
                <div class="mb-1 icon rounded-circle bg-primary d-flex justify-content-center align-items-center" style="width:75px; height:75px;">
                    <i class="lni {{ category.icon_tag }} text-white fs-2"></i>
                </div>
                <p class="text-center">{{ category.title }}</p>
            </div>
            {% endfor %}
            {% for category in userExpenseCategories %}
            <div>
                <div class="mb-1 icon rounded-circle bg-primary d-flex justify-content-center align-items-center" style="width:75px; height:75px;">
                    <i class="lni {{ category.icon_tag }} text-white fs-2"></i>
                </div>
                <p class="text-center">{{ category.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="mt-4 mb-4">
        <h2 class="fs-5 mb-4">Income Categories</h2>
        <div class="categories d-flex gap-4">
            {% for category in defaultIncomeCategories %}
            <div>
                <div class="mb-1 icon rounded-circle bg-primary d-flex justify-content-center align-items-center" style="width:75px; height:75px;">
                    <i class="lni {{ category.icon_tag }} text-white fs-2"></i>
                </div>
                <p class="text-center">{{ category.title }}</p>
            </div>
            {% endfor %}
            {% for category in userIncomeCategories %}
            <div>
                <div class="mb-1 icon rounded-circle bg-primary d-flex justify-content-center align-items-center" style="width:75px; height:75px;">
                    <i class="lni {{ category.icon_tag }} text-white fs-2"></i>
                </div>
                <p class="text-center">{{ category.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
