{% extends 'app/layout.html' %}

{% load static %}

{% block title %}
Categories
{% endblock %}

{% block content %}
<main class="main px-md-5">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4">
        <h1 class="fs-4">Categories</h1>
    </div>
    <div class="pb-1 mb-2 border-bottom">
        <p></p>
    </div>

    {% include 'partials/_category_modal.html' %}
    {% include 'partials/_edit_category_modal.html' %}

    <div class="mt-4 mb-4">
        <h2 class="fs-5 mb-4">Expense Categories</h2>
        <div class="categories d-flex gap-4">
            {% for category in defaultExpenseCategories %}
            <div class="d-flex flex-column align-items-center justify-content-center">
                <div class="mb-1 icon rounded-circle bg-secondary d-flex justify-content-center align-items-center" style="width:75px; height:75px;">
                    <i class="lni {{ category.icon_tag }} text-white fs-2"></i>
                </div>
                <p class="text-center">{{ category.title }}</p>
            </div>
            {% endfor %}
            {% for category in userExpenseCategories %}
            <div id="editExpenseCategory" class="d-flex flex-column align-items-center justify-content-center category-icon"
                data-bs-toggle="modal"
                data-bs-target="#editCategoryModal"
                data-bs-id="{{ category.id }}"
                data-bs-type="{{ category.category_type }}"
                data-bs-title="{{ category.title }}"
                data-bs-icontag="{{ category.icon_tag }}"
            >
                <div class="mb-1 icon rounded-circle bg-primary d-flex justify-content-center align-items-center" style="width:75px; height:75px;">
                    <i class="lni {{ category.icon_tag }} text-white fs-2"></i>
                </div>
                <p class="text-center">{{ category.title }}</p>
            </div>
            {% endfor %}
            <div id="addExpenseCategory" class="d-flex flex-column align-items-center justify-content-center category-icon"
                data-bs-toggle="modal"
                data-bs-target="#expenseCategoryToggle"
            >
                <div class="mb-1 icon rounded-circle bg-warning d-flex justify-content-center align-items-center" style="width:75px; height:75px;">
                    <i class="lni lni-plus text-white fs-2"></i>
                </div>
                <p class="text-center">New Category</p>
            </div>
        </div>
    </div>

    <div class="mt-4 mb-4">
        <h2 class="fs-5 mb-4">Income Categories</h2>
        <div class="categories d-flex gap-4">
            {% for category in defaultIncomeCategories %}
            <div class="d-flex flex-column align-items-center justify-content-center">
                <div class="mb-1 icon rounded-circle bg-secondary d-flex justify-content-center align-items-center" style="width:75px; height:75px;">
                    <i class="lni {{ category.icon_tag }} text-white fs-2"></i>
                </div>
                <p class="text-center">{{ category.title }}</p>
            </div>
            {% endfor %}
            {% for category in userIncomeCategories %}
            <div class="d-flex flex-column align-items-center justify-content-center category-icon"
                data-bs-toggle="modal"
                data-bs-target="#editCategoryModal"
                data-bs-id="{{ category.id }}"
                data-bs-type="{{ category.category_type }}"
                data-bs-title="{{ category.title }}"
                data-bs-icontag="{{ category.icon_tag }}"
            >
                <div class="mb-1 icon rounded-circle bg-primary d-flex justify-content-center align-items-center" style="width:75px; height:75px;">
                    <i class="lni {{ category.icon_tag }} text-white fs-2"></i>
                </div>
                <p class="text-center">{{ category.title }}</p>
            </div>
            {% endfor %}
            <div id="addIncomeCategory" class="d-flex flex-column align-items-center justify-content-center category-icon"
                data-bs-toggle="modal"
                data-bs-target="#incomeCategoryToggle"
            >
                <div class="mb-1 icon rounded-circle bg-warning d-flex justify-content-center align-items-center" style="width:75px; height:75px;">
                    <i class="lni lni-plus text-white fs-2"></i>
                </div>
                <p class="text-center">New Category</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/categories.js' %}"></script>
{% endblock %}
