{% extends 'app/layout.html' %}
{% load humanize %}
{% load static %}

{% block title %}
Transactions
{% endblock %}

{% block content %}
<main class="main px-md-5">
    {% include 'partials/_messages.html' %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4">
        <h1 class="fs-4">Transactions</h1>
    </div>
    <div class="pb-1 mb-2 border-bottom">
        <p></p>
    </div>

    <div class="mt-4 mb-4 d-flex justify-content-between align-items-center">
        <h2 class="fs-5">Summary</h2>
        <div class="dates d-flex gap-2">
            <button id="todayBtn" class="btn {% if selected_date == 'today' %} btn-secondary {% else %} btn-outline-secondary {% endif %}">Today</button>
            <button id="weekBtn" class="btn {% if selected_date == 'week' %} btn-secondary {% else %} btn-outline-secondary {% endif %}">This week</button>
            <button id="monthBtn" class="btn {% if selected_date == 'month' %} btn-secondary {% else %} btn-outline-secondary {% endif %}">This month</button>
            <button id="yearBtn" class="btn {% if selected_date == 'year' %} btn-secondary {% else %} btn-outline-secondary {% endif %}">This year</button>
            <button id="allTimeBtn" class="btn {% if selected_date == 'allTime' %} btn-secondary {% else %} btn-outline-secondary {% endif %}">All time</button>
        </div>
    </div>

    <div class="cards d-flex gap-2 flex-wrap flex-lg-nowrap flex-row">
        <div class="card shadow-sm p-2 flex-grow-1">
            <div class="card-body text-center">
                <i class="lni lni-coin fs-3 p-2 rounded text-secondary"></i>
                <p class="card-text text-secondary fs-3 fw-semibold mb-1" id="totalBalance"></p>
                <h5 class="card-title fs-6 fw-normal text-secondary">Total</h5>
            </div>
        </div>
        <div class="card shadow-sm p-2 flex-grow-1">
            <div class="card-body text-center">
                <i class="lni lni-stats-down fs-3 p-2 rounded text-secondary"></i>
                <p class="card-text text-secondary fs-3 fw-semibold mb-1" id="expenses"></p>
                <h5 class="card-title fs-6 fw-normal text-secondary">Expenses <span class="text-black-50">{% if selected_date == 'today' %}(Today){% elif selected_date == 'week' %}(This week){% elif selected_date == 'month' %}(This month){% else %}(This year){% endif %}</span></h5>
            </div>
        </div>
        <div class="card shadow-sm p-2 flex-grow-1">
            <div class="card-body text-center">
                <i class="lni lni-stats-up fs-3 p-2 rounded text-secondary"></i>
                <p class="card-text text-secondary fs-3 fw-semibold mb-1" id="income"></p>
                <h5 class="card-title fs-6 fw-normal text-secondary">Income <span class="text-black-50">{% if selected_date == 'today' %}(Today){% elif selected_date == 'week' %}(This week){% elif selected_date == 'month' %}(This month){% else %}(This year){% endif %}</span></h5>
            </div>
        </div>
        <div class="card savings__card shadow-sm p-2 flex-grow-1">
            <div class="card-body text-center">
                <i class="lni lni-sketch fs-3 p-2 rounded text-secondary"></i>
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <p class="card-text text-secondary fs-3 fw-semibold mb-1">{{ percentProductivity }}%</p>
                    <i class="lni {% if percentProductivity > 0 %}lni-angle-double-up text-success {% elif percentProductivity < 0 %}lni-angle-double-down text-danger{% else %}lni-minus text-secondary{% endif %} fs-4 mb-1"></i>
                </div>
                <h5 class="card-title fs-6 fw-normal text-secondary">Savings rate</h5>
            </div>
        </div>
    </div>

    <div class="d-flex flex-lg-row flex-column gap-4 mt-4 mb-4">
        <div class="d-flex flex-column flex-md-row flex-lg-column align-items-center w-lg-25">
            <div class="mt-4 chartContainer" style="display: inline-block; background-color: white;">
                <div class="d-flex mt-4 px-4 align-items-center">
                    <h2 class="text-secondary fs-6 w-100">EXPENSES BY CATEGORY</h2>
                </div>
                <div id="pieChartExpense" class="py-4" style="background-color: white;">
                </div>
            </div>
            <div class="mt-4 chartContainer" style="display: inline-block; background-color: white;">
                <div class="d-flex mt-4 px-4 align-items-center">
                    <h2 class="text-secondary fs-6 w-100">INCOME BY CATEGORY</h2>
                </div>
                <div id="pieChartIncome" class="py-4" style="background-color: white;">
                </div>
            </div>
        </div>
        <div id="tableContainer" class="mt-4" style="background-color:white;">
            <div class="mb-4 mt-4 px-4 d-flex justify-content-between align-items-center" >
                <div class="d-flex gap-3 align-items-center">
                    <h2 class="fs-6 text-secondary w-100">TRANSACTION HISTORY</h2>
                    <input type="text" id="searchInput" class="form-control" placeholder="Search">
                </div>
                <div class="d-flex gap-3 align-items-center">
                    <button class="btn btn-outline-danger d-none" id="dashboard_delete_transactions">Delete selected transactions</button>
                    <button type="button" id="quick_add_btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#typeModelToggle">Add Transaction</button>
                </div>
            </div>

            <div class="table-responsive px-2 table-main">
                <table class="table table-sm">
                <thead class="fs-6">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Type</th>
                        <th scope="col" class="d-flex gap-1 align-items-center"><div>Amount</div> <i id="sortAmount" class="lni {% if sortTransactions == "amount" %}lni-sort-amount-asc{% else %}lni-sort-amount-dsc{% endif %} {% if sortTransactions == "amount" or sortTransactions == "-amount" %}text-primary{% endif %}"></i></th>
                        <th scope="col">Category</th>
                        <th scope="col" class="d-flex gap-1 align-items-center"><div>Date</div> <i id="sortDate" class="lni {% if sortTransactions == "date" %}lni-sort-amount-asc{% else %}lni-sort-amount-dsc{% endif %} {% if sortTransactions == "date" or sortTransactions == "-date" %}text-primary{% endif %}"></i></th>
                        <th scope="col">Comment</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="fs-6">
                {% for transaction in page_obj %}
                    <tr>
                    <td class="align-middle text-left"><input type="checkbox" name="selected_transaction" id="{{ transaction.id }}" value="{{ transaction.id }}"></td>
                    <td class="align-middle text-left fw-bold {% if transaction.transaction_type == 'Expense' %}text-danger{% else %}text-success{% endif %}">{{ transaction.transaction_type }}</td>
                    <td class="align-middle text-left tableAmount">{{ transaction.amount }}</td>
                    <td class="align-middle text-left"><div class="d-flex align-items-center gap-2"><i class="lni {{ transaction.category.icon_tag }}"></i><div>{{ transaction.category }}</div></div></td>
                    <td class="align-middle text-left">{{ transaction.date|date:"b. d, Y"|capfirst }}</td>
                    <td class="align-middle text-left">{{ transaction.comment }}</td>
                    <td class="align-middle text-left">
                        <button
                            class="border-0 bg-white"
                            id="edit_transaction"
                            data-bs-toggle="modal"
                            data-bs-target="#editModalToggle"
                            data-bs-id="{{ transaction.id }}"
                            data-bs-type="{{ transaction.transaction_type }}"
                            data-bs-amount="{{ transaction.amount }}"
                            data-bs-category="{{ transaction.category }}"
                            data-bs-date="{{ transaction.date|date:"Y-m-d\\TH:i" }}"
                            data-bs-comment="{{ transaction.comment }}"
                            data-bs-currency="{{ request.user.profile.currency }}"
                        >
                            <i class="lni lni-cog fs-5 mt-2"></i>
                        </button>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>

            <p id="no-results">No results found.</p>

            <div class="table-responsive px-2 table-search">
                <table class="table table-sm">
                <thead class="fs-6">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Type</th>
                        <th scope="col" class="d-flex gap-1 align-items-center"><div>Amount</div></th>
                        <th scope="col">Category</th>
                        <th scope="col" class="d-flex gap-1 align-items-center"><div>Date</div></th>
                        <th scope="col">Comment</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="fs-6 search-body">

                </tbody>
                </table>
            </div>

            <ul class="ps-2 pagination pagination-container">
                <li class="page-item">
                  <a class="page-link" href="?page=1"><span aria-hidden="true">&laquo;</span></a>
                </li>
                {% for page in page_obj.paginator %}
                    <li class="page-item {% if page.number == page_obj.number %}active{% endif %}"><a class="page-link" href="?page={{ page.number }}">{{ page.number }}</a></li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><span aria-hidden="true">&raquo;</span></a>
                </li>
            </ul>
        </div>
    </div>

</main>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{% static 'js/transactions.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", async function () {
        async function initializePage() {
            try {
                const totalBalance = await convertCurrency("{{ request.user.profile.total }}", 'USD', userCurrency);
                document.getElementById('totalBalance').textContent = `${formatCurrency(totalBalance, userCurrency)}`;

                const expenses = await convertCurrency("{{ expenses }}", 'USD', userCurrency);
                document.getElementById('expenses').textContent = `${formatCurrency(expenses, userCurrency)}`;

                const income = await convertCurrency("{{ income }}", 'USD', userCurrency);
                document.getElementById('income').textContent = `${formatCurrency(income, userCurrency)}`;
                const tableAmounts = document.querySelectorAll(".tableAmount");
                for(let amount of tableAmounts) {
                    const convertedAmount = await convertCurrency(amount.innerText, "USD", userCurrency);
                    amount.textContent = `${formatCurrency(convertedAmount, userCurrency)}`;
                }
            } catch(err) {
                console.error("Error initializing page: ", err);
            }
        }
        initializePage();
    });
</script>
{% endblock %}
