<div class="modal fade" id="customDateModal" aria-hidden="true" aria-labelledby="customDateModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between">
                <h1 class="modal-title fs-5" id="customDateModalLabel">Choose custom dates</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="date" class="mb-1">Starting date:</label><br>
                    <input type="datetime-local" class="form-control" name="startDate" id="startDate" max="{{ current_day }}" value="{{ start }}" required>
                </div>
                <div class="mb-3">
                    <label for="date" class="mb-1">Ending date:</label><br>
                    <input type="datetime-local" class="form-control" name="endDate" id="endDate" max="{{ current_day }}" value="{{ end }}" required>
                </div>
            </div>
            <div class="modal-footer">
                <button id="submitCustomDates" class="btn btn-primary">Set dates</button>
            </div>
        </div>
    </div>
</div>