<div class="modal fade" id="editBudgetModal" aria-hidden="true" aria-labelledby="editBudgetModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between">
                <h1 class="modal-title fs-5" id="editBudgetModalLabel">Budget settings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div>
                {% csrf_token %}
                <div class="modal-body">
                    <p class="mb-2 text-black-50">Enter your monthly budget</p>
                    <div class="d-flex align-items-center gap-2">
                        <select class="form-select" id="currency" name="currency" aria-label="Choose currency" style="width: auto;">
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                            <option value="MKD">MKD</option>
                        </select>
                        <div class="form-floating mb-3" style="width: 100%;">
                            <input class="form-control" type="number" min="0" name="shownBudget" id="shownBudget" step="0.01" required>
                            <input class="form-control" type="hidden" min="0" name="budget" id="budget" step="0.01" required>
                            <label for="title">Budget</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="editBudgetBtn" class="btn btn-primary">Set budget</button>
                </div>
            </div>
        </div>
    </div>
</div>