<div class="modal fade" id="typeModelToggle" aria-hidden="true" aria-labelledby="typeModelToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="typeModelToggleLabel">Type of transaction:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-around">
        <button class="btn btn-primary" data-bs-target="#expenseModalToggle" data-bs-toggle="modal">Expense</button>
        <button class="btn btn-primary" data-bs-target="#incomeModalToggle" data-bs-toggle="modal">Income</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="expenseModalToggle" aria-hidden="true" aria-labelledby="expenseModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <button class="btn rounded-circle me-2" data-bs-target="#typeModelToggle" data-bs-toggle="modal">
            <i class="lni lni-arrow-left mt-2"></i>
          </button>
          <h1 class="modal-title fs-5" id="expenseModalToggleLabel">Add Expense</h1>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'app:dashboard' %}" method="post">
          {% csrf_token %}
          <div class="modal-body">
              <input type="hidden" name="transaction_type" value="Expense">
              <div class="d-flex align-items-center gap-2">
                <select class="form-select" id="currencyExpense" name="currency" aria-label="Choose currency" style="width: auto;">
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="MKD">MKD</option>
                </select>
                <div class="form-floating mb-3" style="width: 100%;">
                    <input class="form-control" type="number" step="0.01" name="shownAmount" id="shownAmountExpense">
                    <label for="shownAmountExpense">Amount</label>
                </div>
                <input class="form-control" type="hidden" step="0.01" name="amount" id="amountExpense">
              </div>

              <div class="form-floating mb-3">
                <select class="form-select" id="category" name="category" aria-label="Choose a category">
                  <option selected>Choose a category</option>
                  {% for category in defaultExpenseCategories %}
                    <option value="{{category}}">{{category}}</option>
                  {% endfor %}
                  {% for category in userExpenseCategories %}
                    <option value="{{category}}">{{category}}</option>
                  {% endfor %}
                </select>
                <label for="floatingSelect">Category</label>
              </div>

              <div class="mb-3">
                <label for="date" class="mb-1">Date of expense:</label><br>
                <input type="datetime-local" class="form-control" name="date" id="date" max="{{ current_day }}" value="{{ current_day }}">
              </div>

              <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Comments" id="comment" name="comment" style="height: 100px"></textarea>
                <label for="comment">Comments</label>
              </div>
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary">Add Expense</button>
          </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="incomeModalToggle" aria-hidden="true" aria-labelledby="incomeModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <button class="btn rounded-circle me-2" data-bs-target="#typeModelToggle" data-bs-toggle="modal">
            <i class="lni lni-arrow-left mt-2"></i>
          </button>
          <h1 class="modal-title fs-5" id="incomeModalToggleLabel">Add Income</h1>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% if request.path == "/app/"  %}{% url 'app:dashboard' %}{% else %}{% url 'app:transactions' %}{% endif %}" method="post">
          {% csrf_token %}
          <div class="modal-body">
              <input type="hidden" name="transaction_type" value="Income">
              <div class="d-flex align-items-center gap-2">
                <select class="form-select" id="currencyIncome" name="currency" aria-label="Choose currency" style="width: auto;">
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="MKD">MKD</option>
                </select>
                <div class="form-floating mb-3" style="width: 100%;">
                    <input class="form-control" type="number" step="0.01" name="shownAmount" id="shownAmountIncome">
                    <label for="shownAmountIncome">Amount</label>
                </div>
                <input class="form-control" type="hidden" step="0.01" name="amount" id="amountIncome">
              </div>

              <div class="form-floating mb-3">
                <select class="form-select" id="category" name="category" aria-label="Choose a category">
                  <option selected>Choose a category</option>
                  {% for category in defaultIncomeCategories %}
                    <option value="{{category}}">{{category}}</option>
                  {% endfor %}
                  {% for category in userIncomeCategories %}
                    <option value="{{category}}">{{category}}</option>
                  {% endfor %}
                </select>
                <label for="floatingSelect">Category</label>
              </div>

              <div class="mb-3">
                <label for="date" class="mb-1">Date of income:</label><br>
                <input type="datetime-local" class="form-control" name="date" id="date" max="{{ current_day }}" value="{{ current_day }}">
              </div>

              <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Comments" id="comment" name="comment" style="height: 100px"></textarea>
                <label for="comment">Comments</label>
              </div>
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary">Add Income</button>
          </div>
      </form>
    </div>
  </div>
</div>
