.top__wrapper {
    background-image: url("dollabrobg.png");
    background-color: #0e223e;
}

header img {
    width: 100%;
    padding: 10px;
    border: 3px solid white;
    border-radius: 20px;
}

header {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.login__btn {
    background-color: #4f9cf9;
    border-color: #4f9cf9;
    width: fit-content;
}
.login__btn:hover {
    background-color: #488adc;
    border-color: #488adc;
}

.register_btn {
    background-color: #ffe492;
    border-color: #ffe492;
    color: black;
}
.register_btn:hover {
    background-color: #d4be7c;
    border-color: #d4be7c;
    color: black;
}

.join__btn {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 3px solid transparent;
    color: #ffe492;
}
.join__btn:hover {
    border-bottom: 3px solid #d4be7c;
    color: #ffe492;
}
.join__btn_light {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 3px solid transparent;
    color: #e0a800;
}
.join__btn_light:hover {
    border-bottom: 3px solid #e0a800;
    color: #e0a800;
}

#header__dollabro {
    border-bottom: 3px solid #ffe492;
    color: #ffe492;
}

.features__heading, .details__heading {
    border-bottom: 3px solid #ffe492;
    width: fit-content;
}

#features, #details, #demos {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.features__container, .details__container {
    padding-top: 3rem;
}

.features__container .card {
    flex-basis: 25%;
    max-width: 350px;
}

.details__container .card {
    max-width: 1000px;
}

.card {
    min-width: 250px;
    border: none !important;
}

.card-yellow {
    background-color: #f1b500;
}

.text_yellow {
    color: #ffe492;
}
.text_yellow_light {
    color: #e0a800;
}

.card-body p {
    opacity: 0.75;
}

#quickTransaction, #searchDates, #currencyDemo, #categoriesDemo {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

iframe {
    width: 100%;
    height: 100%;
    min-height: 450px;
}

footer {
    background-color: #0e223e;
}