*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-info-subtle {
    background-color: #337BDF !important;
}

.bg-info {
    background-color: #75afff !important;
}

p {
    margin-bottom: 0 !important;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

.wrapper {
    display: flex;
}

body {
    background-color: #f5f7fa;
}

.main {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    height: 100vh;
    width: 100%;
    transition: all 0.35s ease-in-out;
}

#sidebar {
    height: 100vh;
    width: 16.25rem;
    min-width: 16.25rem;
    z-index: 1000;
    transition: all 0.25s  ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #0e223e;
}

#sidebar.collapse {
    width: 4.375rem;
    min-width: 4.375rem;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 1rem 1.5rem;
}

#toggle-btn i {
    font-size: 1.5rem;
    color: white;
}

.sidebar-logo {
    margin: auto 0;
    margin-top: 0.595rem
}

.sidebar-logo a {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

#sidebar:is(.collapse) .sidebar-logo,
#sidebar:is(.collapse) .sidebar-link span {
    display: none;
}

#sidebar:is(.collapse) .progress {
    height: 10px;
}

#sidebar:not(.collapse) .progress_container {
    display: none;
}

.progress_container p {
    font-size: 11px;
    margin-top: 5px;
}

.budget_container p {
    font-size: 0.75rem;
}

#editBudget:hover {
    cursor: pointer;
}

.card-header p {
    font-size: 0.825rem;
}

.progress_body p {
    font-size: 0.55rem;
}

.progress_body .progress {
    flex: 1;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

.sidebar-link {
    padding: 0.625rem 1.625rem;
    color: white;
    display: block;
    font-size: 1.125rem;
    white-space: nowrap;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: 0.75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

.sidebar-link img {
    width: 24px;
    border-radius: 50%;
    margin-right: 0.75rem;
}

.sidebar-footer {
    margin-bottom: 0.5rem;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.9);
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: all 0.2s;
}

form button {
    width: 100%;
    border: none;
    background-color: transparent;
}


.date_nav p {
    text-decoration: underline;
    text-underline-offset: 2px;
}
.date_nav p:hover {
    cursor: pointer;
}

#datePicker {
    width: auto;
}

textarea {
    resize: none;
}

.cards {
    flex: 1;
}
.cards .card {
    border: none;
}

.graph {
    flex: 3;
}

.apexcharts-canvas {
    height: 100% !important;
    max-height: 100%;
}



/* CATEGORIES */

.category-icon {
    transition: 0.2s;
}

.category-icon:hover {
    cursor: pointer;
    opacity: 75%;
}

#iconsContainer .icon{
    transition: 0.2s;
}

#iconsContainer .icon:hover {
    cursor: pointer;
}